.date {
    display: block;
    width: 50px;
    height: 60px;

    text-align: center;

    color: $whiteColor;

    // .date__day

    &__day {
        display: block;
        padding: 5px 10px;

        font-size: 24px;
        font-weight: 300;

        background-color: #363636;

        border-radius: 3px 3px 0 0;

        transition: $transitionFastEase;
    }

    // .date__month

    &__month {
        display: block;
        padding: 5px 10px;

        // font-family: roboto;
        @include fontSizeLineHeight(12px, 20px);

        background-color: #252525;

        border-radius: 0 0 3px 3px;

        transition: $transitionFastEase;
    }
}