.hero {
    position: relative;

    // .hero__slides

    &__slides {}

    // .hero__slide

    &__slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        min-height: 700px;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        position: relative;

        // &:nth-child(1) {
        //     background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../img/hero/hero_bg.jpg');
        // }

        // &:nth-child(2) {
        //     background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../img/hero/hero_bg_2.jpg');
        // }

        // &:nth-child(3) {
        //     background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../img/hero/hero_bg_3.jpg');
        // }
    }

    // .hero__container

    &__container {
        max-width: 650px;

        text-align: center;
        color: white;

        position: relative;
        z-index: 2;
    }

    // .hero__suptitle

    &__suptitle {
        margin-bottom: 15px;

        font-size: 36px;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
    }

    // .hero__title

    &__title {
        margin-bottom: 25px;

        font-size: 52px;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
    }

    // .hero__text

    &__text {
        margin-bottom: 40px;

        @include fontSizeLineHeight(16px, 24px);
    }

    // .hero__button

    &__button {}

    // .hero__pagination 

    &__pagination {
        // bottom: 40px !important;
        transform: translateY(-30px);

        .swiper-pagination-bullet {
            width: 11px;
            height: 11px;

            opacity: 1;

            border: 2px solid transparent;

            background-color: rgba(255, 255, 255, 0.5);
            // background-clip: padding-box;

            transition: all 400ms ease;
        } 

        .swiper-pagination-bullet-active {
            border-color: $accentColor;

            background-color: rgba(255, 255, 255, 0);

            transform: scale(1.4);
        }
    }

    // .hero__slide-button

    &__slide-button {
        // nulling styles of button
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;
        //

        padding: 20px;

        position: absolute;
        top: 50%;
        z-index: 1;

        svg {
            width: 40px;
            height: 73px;

            fill: $whiteColor;
            opacity: 0.5;

            transition: $transitionFastEase;
        }

        &:hover,
        &:focus {

            svg {
                fill: $accentColor;
                opacity: 1;
            }
        }

        &--left {
            left: 10%;
        }

        &--right {
            right: 10%;

            transform: rotate(180deg);
        }
    }
}