.posts {

    // .posts__container

    &__container {
        text-align: center;
    }

    // .posts__title

    &__title {
        margin-bottom: 20px;
    }

    // .posts__subtitle

    &__subtitle {
        max-width: 800px;
        margin: 0 auto 30px;
    }

    // .posts__cards

    &__cards {
        display: flex;
        margin-bottom: 35px;
    }

    // .posts__card

    &__card {
        width: 33.3333%;
        // cursor: pointer;

        transition: $transitionFastEase;

        &:hover,
        &:focus {
            background-color: #362f2d;

            .posts__heading {
                color: $accentColor;
            }

            .posts__subheading {
                color: $whiteColor;
            }

            .posts__wrapper {
                &::before {
                    visibility: visible;
                    opacity: 1;
                }
            }

            .date__day {
                background-color: $accentColor;
            }

            .date__month {
                background-color: #a48d72;
            }
        }

    }

    // .posts__wrapper

    &__wrapper {
        height: 220px;

        position: relative;

        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;

            background-color: rgba(0, 0, 0, 0.65);

            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;

            visibility: hidden;
            opacity: 0;

            transition: $transitionFastEase;
        }
    }

    // .posts__photo

    &__photo {
        display: block;
        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    // .posts__date

    &__date {
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 10;
    }

    // .posts__info

    &__info {
        padding: 25px;

        text-align: left;
    }

    // .posts__heading

    &__heading {
        height: 20px; // font-size; line-height: 1
        margin-bottom: 10px;

        font-size: 20px;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;

        color: $primaryColor;

        overflow: hidden; //

        transition: $transitionFastEase;
    }

    // .posts__subheading

    &__subheading {
        height: 40px; // line-height * 2
        margin-bottom: 20px;

        @include fontSizeLineHeight(14px, 20px);
        font-weight: 300;
        color: $secondaryColor;

        overflow: hidden; //

        transition: $transitionFastEase;
    }

    // .posts__read

    &__read {
        display: inline-flex;
        align-items: baseline;

        @include fontSizeLineHeight(14px, 20px);
        font-weight: 300;
        text-decoration: none;

        color: $accentColor;

        transition: $transitionFastEase;

        &:hover,
        &:focus {
            color: $whiteColor;

            &::after {
                // border-color: transparent transparent transparent $whiteColor;
                @include triangleHover($whiteColor, right);
            }
        }

        &::after {
            content: '';
            // width: 0;
            // height: 0;
            margin-left: 8px;
            // border-style: solid;
            // border-width: 4px 0 4px 5px;
            // border-color: transparent transparent transparent $accentColor;
            @include triangle($accentColor, right, 5px, 8px);

            transition: $transitionFastEase;
        }
    }

    // .posts__btns

    &__btns {
        display: flex;
        justify-content: center;
    }

    // .posts__btn

    &__btn {
        width: 23px; // + 1px border
        height: 23px; // + 1px border

        padding: 0;
        border: none;
        background: none;

        cursor: pointer;

        position: relative;

        transition: $transitionFastEase;

        &:first-child {
            margin-right: 10px;
        }

        svg {
            display: inline-block;
            width: 22px;
            height: 22px;
            padding: 4px;

            fill: $accentColor;

            border: 1px solid $accentColor;
            border-radius: 50%;

            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;

            transition: $transitionFastEase;
        }

        &:not(:disabled):hover,
        &:not(:disabled):focus {

            svg {
                fill: $whiteColor;

                background-color: $accentColor;
            }
        }

        // .posts__btn--left

        &--left {

            svg {
                transform: rotate(180deg);
            }
        }

        // .posts__btn--right

        &--right {

            svg {
                // transform: translateY(-50%);
            }
        }

        &:disabled {
            cursor: not-allowed;

            svg {
                fill: #d1d1d1;

                border-color: #d1d1d1;
            }
        }
    }
}